[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "molokai-theme"]
	path = molokai-theme
	url = https://github.com/hbin/molokai-theme
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
